<script>
import axios from '../axios.js';
import FormComment from '../components/FormComment.vue';
export default {
    components: {
        FormComment
    },
    name: 'Comment',
    data() {
        return {
            visibleForm: false,
            userCanModify: false,
            userCanDelete: false
        }
    },
    computed: {
        textButtonModify() {
            if (this.visibleForm === true) {
                return 'Fermer';
            }
            return 'Modifier';
        }
    },
    methods: {
        formatDate(dateString) {
            const date = new Date(dateString);
                return new Intl.DateTimeFormat('fr-FR', {dateStyle: 'medium', timeStyle: 'short'}).format(date);
        },
        deleteComment() {
            axios.delete(`/content/comments/${this.$props.commentId}`, {
                headers: {
                   'Authorization': `Bearer ${this.$store.state.token}`
                },
                data: {
                   id: this.$props.commentId
                }
            })
            .then(response => {
                if (response.status !== 204) {
                    throw 'Error http code: ' + response.status;
                }
                this.$router.go(0);
            })
            .catch(error => console.log(error))
        }
    },
    props: {
        commentId: Number,
        commentParentId: Number,
        commentUserId: Number,
        commentDateCreated: String,
        commentDateModified: String,
        commentContent: String,
        commentState: Number,
        commentFirstName: String,
        commentLastName: String,
    },
    beforeMount() {
        if (this.$props.commentUserId === this.$store.state.userId) {
           this.userCanModify = true;
           this.userCanDelete = true;
        }
        if (this.$store.state.role === 1) {
            this.userCanDelete = true;
        }
    },

}
</script>

<template>
    <li class="comment">
        <div class="post__infos comment__infos">
            <span class="post__infos--name comment__name capitalize">{{ commentFirstName }} {{ commentLastName }}</span>
            <span class="post__infos--dateCreated comment__date">{{ formatDate(commentDateCreated) }}</span>
        </div>
        <div class="post__infos--dateModified" v-if="commentDateModified">modifié le {{ formatDate(commentDateModified) }}</div>
        <p>{{ commentContent }}</p>
        <div class="post__modify">
            <button class="post__button" v-if="userCanModify" @click="visibleForm = !visibleForm">{{ textButtonModify }}</button>
            <button class="post__button" v-if="userCanDelete" @click="deleteComment">Supprimer</button>
        </div>
        <form-comment v-if="visibleForm" :parentId="commentParentId" :commentId="commentId" :action="'modify'" :previousContent="commentContent" />
    </li>
</template>

<style lang="scss" scoped>
    .comment {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px dotted $color-main-darker;
        border-radius: 0.5rem;
        &__date {
            font-size: 95%;
            color: $color-font-light;
        }
    }
</style>