<template>
    <form class="form form-comment" id="create-post" @submit.prevent="handleComment">
        <label class="form__label" for="content">Commentaire</label>
        <textarea class="form__textarea" name="content" id="content" rows="10" v-model="content" required ></textarea>
        <div class="form-comment__submit">
            <button class="form__submit" type="submit">Commenter</button>
        </div>
        <div class="form-comment__alert" v-show="generalWrongMessage">Envoi impossible, veuillez réessayer</div>
    </form>
</template>

<script>
import axios from '../axios.js';
export default {
    name: 'FormComment',
    data() {
        return {
            content: this.$props.previousContent,
            generalWrongMessage: false
        }
    },
    props: {
        parentId: Number,
        commentId: {
            type: Number,
            default: 0,
            required: false
        },
        action: {
            type: String,
            default: 'create',
            required: false
        },
        previousContent: {
            type: String,
            default: '',
            required: false
        }
    },
    methods: {
        handleComment() {
            if (this.$props.action === 'create') {
                this.postNewComment();
            } else if (this.$props.action === 'modify') {
                this.modifyComment();
            }
        },
        postNewComment() {
            const formData = JSON.stringify({
                content: this.content,
                userId: this.$store.state.userId
            });
            axios.post(`/content/comments/${this.$props.parentId}`, formData,
                {headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${this.$store.state.token}`
                    },
                })
            .then(response => {
                if (response.status !== 201) {
                    throw 'Error http code: ' + response.status;
                }
                this.$router.go(0);
            })
            .catch(error => {
                console.log(error);
                this.generalWrongMessage = true;
            })
        },
        modifyComment() {
            const formData = JSON.stringify({
                content: this.content,
                userId: this.$store.state.userId
            });
            axios.put(`/content/comments/${this.$props.commentId}`, formData,
                {headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${this.$store.state.token}`
                    },
                })
            .then(response => {
                if (response.status !== 200) {
                    throw 'Error http code: ' + response.status;
                }
                this.$router.go(0);
            })
            .catch(error => {
                console.log(error);
                this.generalWrongMessage = true;
            })
        },
    },
}
</script>

<style lang="scss" scoped>
    .form-comment {
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding: 0 1vw;    
        &__submit {
            display: flex;
            justify-content: flex-end;
        }
        &__alert {
            text-align: right;
            width: 100%;
            height: 15px;
            font-size: 85%;
            color: red;
            margin-top: 5px;         
        }
    }
</style>