<template>
    <form class="form" id="create-post" @submit.prevent="handleSubmit">
        <label class="form__label form__label--title" for="title">Titre</label>
        <div class="form__alert"><span v-show="wrongTitle">Le titre doit comprendre entre 2 et 255 caractères</span></div>
        <input class="form__input" :class="{'form__input--wrong': wrongTitle}" type="text" name="title" id="title" v-model="title" maxlength="255" @change="checkTitle" required>
        <label class="form__label" for="image">Ajouter une image</label>
        <input class="form__input" type="file" ref="image" id="image" @change="handleImageUpload()">
        <img class="previewImage" v-if="previousImageVisible" :src="previousImage" alt="">
        <label class="form__label form__label--title" for="content">Texte</label>
        <div class="form__alert"><span v-show="emptyPost">Veuillez ajouter au minimum du texte ou une image</span></div>
        <textarea class="form__textarea" name="content" id="content" cols="30" rows="10" v-model="content"></textarea>
        <button class="form__submit" type="submit">Envoyer</button>
        <div class="form__alert form__alert--general" v-show="generalWrongMessage">Envoi impossible, veuillez réessayer</div>
    </form>
</template>

<script>
import axios from '../axios.js';
export default {
    name: 'FormPost',
    data() {
        return {
            title: this.$props.previousTitle,
            content: this.$props.previousContent,
            image: '',
            previousImageVisible: false,
            wrongTitle: false,
            generalWrongMessage: false,
            emptyPost: false,
        }
    },
    props: {
        action: {
            type: String,
            default: 'create',
            required: false
        },
        postId: {
            type: Number,
            default: 0,
            required: false
        },
        previousTitle: {
            type: String,
            required: false,
            default: ''
        },
        previousContent: {
            type: String,
            required: false,
            default: ''
        },
        previousImage: {
            required: false,
            default: null
        }
    },
    beforeMount() {
        if (this.$props.previousImage !== null) {
            this.previousImageVisible = true;
        }
    },
    methods: {
        handleImageUpload() {
            if (this.$refs.image.files.length > 0) {
                this.image = this.$refs.image.files[0];
                this.previousImageVisible = false;
            }
        },
        handleSubmit() {
            if (this.checkTitle() && this.checkNotEmpty()) {
                let formData;
                let contentType;
                if (this.image !== '') {
                    formData = new FormData();
                    formData.append('file', this.image);
                    formData.append('title', this.title);
                    formData.append('content', this.content);
                    formData.append('userId', this.$store.state.userId);
                    contentType = 'multipart/form-data'
                } else {
                    formData = JSON.stringify({
                        title: this.title,
                        content: this.content,
                        userId: this.$store.state.userId
                    })
                    contentType = 'application/json';
                    }

                if (this.$props.action === 'create') {
                    this.postNewPost(formData, contentType);
                } else if (this.$props.action === 'modify') {
                    this.modifyPost(formData, contentType);
                }
            }
        },
        postNewPost(formData, contentType) {
            axios.post('/content/posts',
                formData,
                {headers: {'Content-Type': contentType, 'Authorization': `Bearer ${this.$store.state.token}`}}
            ).then(response => {
                if (response.status !== 201) {
                    throw 'Error http code: ' + response.status;
                }
                this.$router.go(0);
            })
            .catch(error => {
                if (error.response.status === 422) {
                        error.response.data.error.forEach(el => {
                            switch (el.param) {
                                case 'title':
                                    this.wrongTitle = true;
                                    break;
                                default:
                                    this.generalWrongMessage = true;
                                    break;
                            }
                        })
                } else {
                    console.log(error);
                this.generalWrongMessage = true;
                }
            })
        },
        modifyPost(formData, contentType) {
            axios.put(`/content/posts/${this.$props.postId}`,
                formData,
                {headers: {'Content-Type': contentType, 'Authorization': `Bearer ${this.$store.state.token}`}}
            ).then(response => {
                if (response.status !== 200) {
                    throw 'Error http code: ' + response.status;
                }
                this.$router.go(0);
            })
            .catch(error => {
                if (error.response.status === 422) {
                        error.response.data.error.forEach(el => {
                            switch (el.param) {
                                case 'title':
                                    this.wrongTitle = true;
                                    break;
                                default:
                                    this.generalWrongMessage = true;
                                    break;
                            }
                        })
                } else {
                    console.log(error);
                this.generalWrongMessage = true;
                }
            })
        },
        checkTitle() {
            if (this.title === '') {
                this.wrongTitle = false;
                return false;
            } else {
                const regex = new RegExp('^.{2,255}$');
                if (regex.test(this.title) === false) {
                    this.wrongTitle = true;
                    return false;
                } else {
                    this.wrongTitle = false;
                    return true;
                }
            }
        },
        checkNotEmpty() {
            if (this.image !== '' || this.content !== '') {
                return true;
            } else {
                this.emptyPost = true;
                return false;
            }
        }
    },
}
</script>

<style lang="scss" scoped>
    .previewImage {
        width: 100px;
        height: auto;
        margin-bottom: 8px;
    }
    #create-post {
        padding: 1vw;
    }
    .form {
        &__input {
            &--wrong {
                border: 2px solid red;
            }
        }
        &__label--title {
            position: relative;
            top: 10px;
        }
        &__alert {
            text-align: right;
            width: 100%;
            height: 15px;
            font-size: 85%;
            color: red;
            & span {
                color: red;
            }
            &--general {
                margin-top: 5px;
            }
        }
    }
</style>