<script>
import axios from '../axios.js';
import Comment from '../components/Comment.vue';
import FormComment from '../components/FormComment.vue';
import FormPost from '../components/FormPost.vue';
export default {
    components: {Comment, FormComment, FormPost},
    name: 'Post',
    data() {
        return {
            visibleComments: false,
            noComments: true,
            formCommentVisible: false,
            formPostVisible: false,
            userCanModify: false,
            userCanDelete: false
        }
    },
    computed: {
        commentsTitle() {
            switch (this.$props.comments.length) {
                case 0:
                    return '0 commentaire';
                case 1:
                    return '1 commentaire';
                default:
                    return this.$props.comments.length + ' commentaires';
            }
        },
        textButtonComment() {
            if (this.formCommentVisible === true) {
                return 'Fermer';
            }
            return 'Commenter';
        },
        textButtonModify() {
            if (this.formPostVisible === true) {
                return 'Fermer';
            }
            return 'Modifier';
        }
    },
    methods: {
        formatDate(dateString) {
        const date = new Date(dateString);
            return new Intl.DateTimeFormat('fr-FR', {day: 'numeric', month: 'short', hour: '2-digit', minute: '2-digit'}).format(date);
        },
        deletePost() {
           axios.delete(`/content/posts/${this.$props.postId}`, {
               headers: {
                   'Authorization': `Bearer ${this.$store.state.token}`
                },
               data: {
                   id: this.$props.postId
               }
           })
            .then(response => {
                if (response.status !== 204) {
                    throw 'Error http code: ' + response.status;
                }
                this.$router.go(0);
            })
            .catch(error => console.log(error))
        }
    },
    props: {
        postId: Number,
        postUserId: Number,
        postDateCreated: String,
        postDateModified: String,
        postTitle: String,
        postContent: String,
        postState: Number,
        postImageUrl: String,
        postFirstName: String,
        postLastName: String,
        comments: Array     
    },
    beforeMount() {
        if (this.$props.comments.length == 0) {
            this.noComments = true;
        } else {
            this.noComments = false;
        }
        if (this.$props.postUserId === this.$store.state.userId) {
            this.userCanModify = true;
            this.userCanDelete = true;
        }
        if (this.$store.state.role === 1) {
            this.userCanDelete = true;
        }
    },

}
</script>

<template>
    <li class="post">
        <h2 class="post__title">{{ postTitle }}</h2>
        <div class="post__infos">
            <span class="post__infos--name capitalize">{{ postFirstName }} {{ postLastName }}</span>
            <span class="post__infos--dateCreated">{{ formatDate(postDateCreated) }}</span>
        </div>
        <div class="post__infos--dateModified" v-if="postDateModified">modifié le {{ formatDate(postDateModified) }}</div>
        <div class="post__image" v-if="postImageUrl">
            <img :src="postImageUrl" alt="">
        </div>
        <p class="post__content">{{ postContent }}</p>
        <div class="post__modify">
            <button class="post__button" v-if="userCanModify" @click="formPostVisible = !formPostVisible">{{ textButtonModify }}</button>
            <button class="post__button" v-if="userCanDelete" @click="deletePost">Supprimer</button>
        </div>
        <form-post v-if="formPostVisible" :action="'modify'" :postId="postId" :previousTitle="postTitle" :previousContent="postContent" :previousImage="postImageUrl" />
        <div class="post__comments">
            <button class="post__button--comment" @click="formCommentVisible = !formCommentVisible">{{ textButtonComment }}</button>
            <form-comment v-if="formCommentVisible" :parentId="postId"/>
            <h3 v-if="noComments">{{ commentsTitle }}</h3>
            <h3 v-else><a href="#" @click.prevent="visibleComments = !visibleComments">{{ commentsTitle }}</a></h3>
            <ul v-if="visibleComments">
                <comment v-for="(comment, index) in comments" :key="index" v-bind="comment"/>
            </ul>
        </div>

    </li>
</template>

<style lang="scss">
    .post {
        width: 70%;
        max-width: 800px;
        min-width: 250px;
        margin: auto;
        margin-bottom: 15px;
        box-shadow: $shadow;
        border-radius: 0.5rem;
        background-color: $color-white;
        padding: 2vw;
        @media (max-width: 600px){
            width: 100%;
        }
        &__title {
            text-align: center;
            font-size: 130%;
        }
        &__infos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 5px;
            padding-top: 8px;
            &--dateCreated {
                text-align: right;
                font-size: 95%;
                color: $color-font-light;
            }
            &--dateModified {
                text-align: right;
                font-style: italic;
                font-size: 80%;
                margin-bottom: 5px;
                color: $color-font-light;
            }
            &--name {
                font-weight: 600;
                color: $color-name;
            }
        }
        &__image {
            max-width: 90%;
            height: auto;
            margin: auto;
            text-align: center;
            margin: 5px 0;
        }
        &__content {
            margin-bottom: 18px;
        }
        &__modify {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            margin-bottom: 5px;
        }
        &__button {
            font-size: 105%;
            background-color: $color-main;
            &:hover {
                background-color: $color-main-darker;
            }
            &--comment {
                font-size: 105%;
                background-color: $color-secondary;
                &:hover {
                    background-color: $color-secondary-darker;
                }
            }
        }
        &__comments {
            border-top: 1px solid $color-main;
            margin-top: 10px;
            padding-top: 15px;
            & h3 {
                font-size: 110%;
                font-weight: 500;
                text-align: center;
                & a {
                    transition: color 300ms;
                    text-underline-offset: 2px;
                    color: $color-name;
                    &:hover {
                        color: $color-line;
                    }
                }

            }
        }
    }
</style>

