<script>
import FormPost from '../components/FormPost.vue';
import Post from '../components/Post.vue';
import axios from '../axios.js';
export default {
  components: { Post, FormPost },
  name: 'Home',
  data() {
    return {
      posts: [],
      formVisible: false
    }
  },
  computed: {
    firstName() {
      return this.$store.state.firstName;
    },
    textButtonForm() {
      if (this.formVisible === true) {
        return 'Fermer';
      }
      return 'Créer un post';
    }
  },
  beforeMount() {
    if (this.$store.state.token !== '') {
      this.getPosts();
    }  
  },
  methods: {
    getPosts() {
      axios.get("/content/posts", {headers: {'Authorization': `Bearer ${this.$store.state.token}`}})
        .then(response => {
          if (response.status === 200) {
              if (response.data.processedData.length > 0) {
                  this.posts = response.data.processedData;
              }
          } else {
              throw 'Error http code: ' + response.status;
          }
        })
        .catch(error => console.log(error))
    },
  },
}
</script>

<template>
  <main class="home">
    <button class="home__toggle" @click="formVisible = !formVisible">{{ textButtonForm }}</button>
    <transition name="smooth">
      <div v-if="formVisible" class="home__form">
        <form-post/>
      </div>
    </transition>
    <transition name="smooth">
      <div v-if="!formVisible">
        <h1>Derniers posts</h1>
        <ul>
          <Post v-for="post in posts" :key="post.postId" v-bind="post" />
        </ul>
      </div>
    </transition>
  </main>
</template>

<style lang="scss" scoped>
  .home {
    position: relative;
    max-width: 1300px;
    width: 100%;
    &__form {
      background-color: $color-white;
      box-shadow: $shadow;
      position: absolute;
      top: 100px;
      width: 60vw;
      padding: 2vw;
      max-width: 600px;
      min-width: 300px;
      transform: translateX(50%);
      right: 50%;
      border-radius: 0.5rem;
      @media (max-width: 600px){
        width: 100%;
      }
    }
    &__toggle {
      background-color: $color-main;
      font-size: 105%;
      min-width: 120px;
      margin-top: 20px;
      &:hover {
        background-color: $color-main-darker;
      }
    }
  }
  .smooth-enter-from, .smooth-leave-to {
    opacity: 0;
  }
  .smooth-enter-active, .smooth-leave-active {
    transition: opacity 300ms ease-in-out;
  }
</style>
