<script>
import axios from '../axios.js';
export default {
    name: 'Login',
    data() {
        return {
            email: '',
            password: '',
            generalWrongMessage: false
        };
    },
    methods: {
        login() {
            const {email, password} = this;
            const formData = JSON.stringify({
                email,
                password
            });
            axios.post('/auth/login', formData, {headers: {'Content-type': 'application/json'}})
            .then(response => {
                if (response.status !== 200) {
                    throw 'Error http code: ' + response.status;
                }
                this.$store.dispatch('login', {userId: response.data.userId, firstName: response.data.firstName, token: response.data.token, role: response.data.role});
                this.$router.push('/');
            })
            .catch(error => {
                console.log(error.response.data.error);
                this.generalWrongMessage = true;
                this.password = '';
                this.email = '';
            })
        },
        removeAlert() {
            this.generalWrongMessage = false;
        }

    },
}
</script>

<template>
    <main id="login" class="main-bloc">
        <h1>Connexion</h1>
        <form class="form" @submit.prevent="login">
            <label class="form__label" for="email">Email</label>
            <input class="form__input" name="email" v-model="email" autocomplete="email" type="email" id="email" required @input="removeAlert">
            <label class="form__label" for="password">Mot de passe</label>
            <input class="form__input" name="password" v-model="password" autocomplete="old-password" type="password" id="password" required @input="removeAlert">
            <button class="form__submit" type="submit">Se connecter</button>
            <div class="form__alert" v-show="generalWrongMessage">Identifiant ou mot de passe incorrect</div>
        </form>
    </main>
</template>

<style lang="scss" scoped>
    .form {
        width: 35vw;
        &__alert {
            text-align: right;
            width: 100%;
            height: 15px;
            font-size: 85%;
            color: red;
            margin-top: 10px;         
        }
    }
</style>