<template>
<main class="profile main-bloc">
    <h1>Gérer mon compte</h1>
    <h2>Mes informations</h2>
    <ul>
        <li class="capitalize"><span class="infos__title">Nom</span><span>{{ firstName }} {{ lastName }}</span></li>
        <li><span class="infos__title">Email</span><span>{{ email }}</span></li>
        <li><span class="infos__title">Date d'inscription</span><span>{{ formatDate(dateCreated)  }}</span></li>
        <li v-if="role"><span class="infos__title">Status</span><span>Administrateur</span></li>
    </ul>    
    <h2>Modifier mon mot de passe</h2>
    <form class="form" @submit.prevent="modifyPassword">
        <input class="form__input" name="email" v-model="email" autocomplete="email" type="email" id="email" hidden aria-hidden>
        <label class="form__label" for="oldPassword">Ancien mot de passe</label>
        <div class="form__alert"><span v-show="wrongOldPassword">Mot de passe incorrect</span></div>
        <input class="form__input" :class="{'form__input--wrong': wrongOldPassword}" name="oldPassword" autocomplete="old-password" v-model="oldPassword" type="password" id="oldPassword" required>

        <label class="form__label" for="newPassword">Nouveau mot de passe</label>
        <div class="form__alert"><span v-show="wrongPassword">Mauvais format de mot de passe</span></div>
        <input class="form__input" :class="{'form__input--wrong': wrongPassword}" name="newPassword" v-model="newPassword" autocomplete="new-password" type="password" @input="checkPassword" id="newPassword" required>

        <label class="form__label" for="passwordConfirm">Confirmer le nouveau mot de passe</label>
        <div class="form__alert"><span v-show="notIdenticalPassword">Mot de passe différent</span></div>
        <input class="form__input" :class="{'form__input--wrong': notIdenticalPassword}" name="passwordConfirm" v-model="passwordConfirm" autocomplete="new-password" type="password" id="passwordConfirm" @input="checkPasswordSame" required>

        <button class="form__submit" type="submit">Modifier le mot de passe</button>
        <div class="form__alert form__alert--general" v-show="generalWrongMessage">Modification impossible, veuillez réessayer</div>
        <div class="form__alert--success" v-show="modifyPasswordSuccess">Mot de passe modifié !</div>
    </form>
    <h2>Supprimer mon compte</h2>
    
    <form class="form" @submit.prevent="deleteUser">
        <label class="form__label" for="passwordDelete">Veuillez entrer votre mot de passe pour confirmer la suppression définitive du compte</label>
        <div class="form__alert"><span v-show="wrongPasswordDelete">Mot de passe incorrect</span></div>
        <input class="form__input" :class="{'form__input--wrong': wrongPasswordDelete}" name="passwordDelete" autocomplete="password" v-model="passwordDelete" type="password" id="passwordDelete" required>
        <button class="form__submit" type="submit">Supprimer mon compte</button>
        <div class="form__alert form__alert--general" v-show="cantDeleteUser">Suppression impossible, veuillez réessayer</div>
    </form>
</main>
    
</template>

<script>
import axios from '../axios.js';
export default {
    name: 'Profile',
    data() {
        return {
            firstName: '',
            lastName: '',
            email: '',
            newPassword: '',
            dateCreated: '',
            role: '',
            passwordConfirm: '',
            oldPassword: '',
            passwordDelete: '',
            notIdenticalPassword: false,
            wrongPassword: false,
            wrongOldPassword: false,
            wrongPasswordDelete: false,
            generalWrongMessage: false,
            modifyPasswordSuccess: false,
            cantDeleteUser: false,
        }
    },
    methods: {
        formatDate(dateString) {
            if (dateString !== '') {
                const date = new Date(dateString);
                return new Intl.DateTimeFormat('fr-FR', {day: 'numeric', month: 'short', year: 'numeric'}).format(date);
            }
            return 'date inconnue';
        },
        checkPassword() {
            if (this.password === '') {
                this.wrongPassword = false;
            } else {
                const regex = new RegExp('^.{6,60}$');
                if (regex.test(this.newPassword) === false) {
                    this.wrongPassword = true;
                } else {
                    this.wrongPassword = false;
                }
            }

        },
        checkPasswordSame() {
            if (this.passwordConfirm === this.newPassword) {
                this.notIdenticalPassword = false;
            } else {
                this.notIdenticalPassword = true;
            }
        },
        modifyPassword() {
                const formData = JSON.stringify({
                    oldPassword: this.oldPassword,
                    newPassword: this.newPassword
                });
                axios.put(`/auth/user/${this.$store.state.userId}`, formData,
                {headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${this.$store.state.token}`
                    },
                })
                .then(response => {
                    if (response.status === 200) {
                        this.modifyPasswordSuccess = true;
                        this.oldPassword = '';
                        this.newPassword = '';
                        this.passwordConfirm = '';
                    } else {
                        throw 'error code: ' + response.status;
                    }
                })
                .catch(error => {
                    if (error.response.status === 401) {
                        this.wrongOldPassword = true;
                    } else {
                        console.log(error);
                        this.generalWrongMessage = true;
                    }
            })
            
        },
        getProfile() {
            axios.get(`/auth/user/${this.$store.state.userId}`, {headers: {'Authorization': `Bearer ${this.$store.state.token}`}})
                .then(response => {
                    if (response.status === 200) {
                        this.firstName = response.data.result[0].first_name;
                        this.lastName = response.data.result[0].last_name;
                        this.email = response.data.result[0].email;
                        this.dateCreated = response.data.result[0].date_created;
                        this.role = response.data.result[0].role;            
                    } else {
                        throw 'Error http code: ' + response.status; 
                    }
                })
                .catch(error => console.log(error))
        },
        deleteUser() {
            if (confirm('Voulez-vous vraiment supprimer définitivement votre compte ?')) {
                axios.delete(`/auth/user/${this.$store.state.userId}`, {
                    headers: {
                        'Authorization': `Bearer ${this.$store.state.token}`
                    },
                    data: {
                        password: this.passwordDelete
                    }
                })
                .then(() => {
                    this.$store.dispatch('logout')
                        .then(() => {
                            this.$router.push('/signup');
                        })
                })
                .catch(error => {
                    if (error.response.status === 401) {
                        this.wrongPasswordDelete = true;
                    } else {
                        console.log(error);
                        this.cantDeleteUser = true;
                    }
                })
            } else {
                this.passwordDelete = '';
            }
           
        }
    },
    beforeMount() {
        if (this.$store.state.token !== '') {
            this.getProfile();
    }  
  },
}
</script>

<style lang="scss" scoped>
    .form {
        width: 50vw;
        &__input {
            &--wrong {
                border: 2px solid red;
            }
        }
        &__label {
            position: relative;
            top: 10px;
        }
        &__alert {
            text-align: right;
            width: 100%;
            height: 15px;
            font-size: 85%;
            color: red;
            & span {
                color: red;
            }
            &--general {
                margin-top: 5px;
            }
            &--success {
                margin-top: 5px;
                color: green;
            }
        }
    }
    h2 {
        font-size: 120%;
        color: $color-line;
    }
    .infos__title {
        display: block;
        font-weight: 600;
         margin-bottom: 4px;
    }
    li {
        margin-bottom: 10px;
    }
</style>