<script>
import axios from '../axios.js';
export default {
    name: 'Signup',
    data() {
        return {
            firstName: '',
            lastName: '',
            email: '',
            password: '',
            passwordConfirm: '',
            notIdenticalPassword: false,
            wrongFirstName: false,
            wrongLastName: false,
            wrongEmail: false,
            wrongPassword: false,
            generalWrongMessage: false
        };
    },
    methods: {
        signup() {
            const {firstName, lastName, email, password} = this;
            const formData = JSON.stringify({
                firstName,
                lastName,
                email,
                password
            });
            axios.post("/auth/signup", 
                formData,
                {headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${this.$store.state.token}`
                    }
                })
            .then(response => {
                this.$store.dispatch('login', {userId: response.data.userId, firstName: response.data.firstName, token: response.data.token, role: response.data.role});
                this.$router.push('/');
            })
            .catch(error => {
                if (error.response.status === 422) {
                    error.response.data.error.forEach(el => {
                        switch (el.param) {
                            case 'password':
                                this.wrongPassword = true;
                                break;
                            case 'firstName':
                                this.wrongFirstName = true;
                                break;
                            case 'lastName':
                                this.wrongLastName = true;
                                break;
                            case 'email':
                                this.wrongEmail = true;
                                break;
                            default:
                                this.generalWrongMessage = true;
                                break;
                        }
                    });
                } else {
                    console.log(error);
                    this.generalWrongMessage = true;
                }
            })
        },
        checkPasswordSame() {
            if (this.passwordConfirm === this.password) {
                this.notIdenticalPassword = false;
            } else {
                this.notIdenticalPassword = true;
            }
        },
        checkFirstName() {
            if (this.firstName === '') {
                this.wrongFirstName = false;
            } else {
                const regex = new RegExp('^[^0-9]{1,30}$');
                if (regex.test(this.firstName) === false) {
                    this.wrongFirstName = true;
                } else {
                    this.wrongFirstName = false;
                }
            }
        },
        checkLastName() {
            if (this.lastName === '') {
                this.wrongLastName = false;
            } else {
                const regex = new RegExp('^[^0-9]{1,30}$');
                if (regex.test(this.lastName) === false) {
                    this.wrongLastName = true;
                } else {
                    this.wrongLastName = false;
                }
            }
            
        },
        checkEmail() {
            if (this.email === '') {
                this.wrongEmail = false;
            } else {
                const regex = new RegExp('^([a-zA-Z0-9-_.]+)@([a-zA-Z0-9-_.]+)[.]([a-zA-Z]{2,5})$');
                if (regex.test(this.email) === false) {
                    this.wrongEmail = true;
                } else {
                    this.wrongEmail = false;
                }
            }
        },
        checkPassword() {
            if (this.password === '') {
                this.wrongPassword = false;
            } else {
                const regex = new RegExp('^.{6,60}$');
                if (regex.test(this.password) === false) {
                    this.wrongPassword = true;
                } else {
                    this.wrongPassword = false;
                }
            }
        }
    },
}
</script>

<template>
    <main id="signup" class="main-bloc">
        <h1>Inscription</h1>
        <form class="form" @submit.prevent="signup">
            <label class="form__label" for="firstName">Prénom</label>
            <div class="form__alert"><span v-show="wrongFirstName">Prénom incorrect</span></div>
            <input class="form__input" :class="{'form__input--wrong': wrongFirstName}" name="firstName" v-model="firstName" autocomplete="given-name" type="text" @input="checkFirstName" id="firstName" required>
        
            <label class="form__label" for="lastName">Nom</label>
            <div class="form__alert"><span v-show="wrongLastName">Nom incorrect</span></div>
            <input class="form__input" :class="{'form__input--wrong': wrongLastName}" name="lastName" v-model="lastName" autocomplete="family-name" type="text" @input="checkLastName" id="lastName" required>
        
            <label class="form__label" for="email">Email</label>
            <div class="form__alert"><span v-show="wrongEmail">Email incorrect</span></div>
            <input class="form__input" :class="{'form__input--wrong': wrongEmail}" name="email" v-model="email" autocomplete="email" type="email" @input="checkEmail" id="email" required>
        
            <label class="form__label" for="password">Mot de passe</label>
            <div class="form__alert"><span v-show="wrongPassword">Mauvais format de mot de passe</span></div>
            <input class="form__input" :class="{'form__input--wrong': wrongPassword}" name="password" v-model="password" autocomplete="new-password" type="password" @input="checkPassword" id="password" required>
            
            <label class="form__label" for="passwordConfirm">Confirmer le mot de passe</label>
            <div class="form__alert"><span v-show="notIdenticalPassword">Mot de passe différent</span></div>
            <input class="form__input" :class="{'form__input--wrong': notIdenticalPassword}" name="passwordConfirm" v-model="passwordConfirm" autocomplete="new-password" type="password" id="passwordConfirm" @input="checkPasswordSame" required>
            <button class="form__submit" type="submit" >S'inscrire</button>
            <div class="form__alert form__alert--general" v-show="generalWrongMessage">Inscription impossible, veuillez réessayer</div>
        </form>
    </main>
</template>

<style lang="scss" scoped>
    .form {
        width: 35vw;
        min-width: 300px;
        &__input {
            &--wrong {
                border: 2px solid red;
            }
        }
        &__label {
            position: relative;
            top: 10px;
        }
        &__alert {
            text-align: right;
            width: 100%;
            height: 15px;
            font-size: 85%;
            color: red;
            & span {
                color: red;
            }
            &--general {
                margin-top: 5px;
            }
        }
    }
</style>