* {
    box-sizing: border-box;
    color: $color-font;
    font-family: 'roboto', sans-serif;
}
body {
    margin: auto;
    background-color: $color-background;
}
p, span {
    font-size: 100%;
}
li {
    display: block;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-height: 45vh;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: inherit;
}
button {
    border: none;
    cursor: pointer;
    transition: background-color 300ms;
    border-radius: 0.5rem;
    padding: 8px 15px;
    &:focus {
        outline: 1px dotted $color-font;
        outline-offset: 2px;
    }
}
textarea {
    resize: none;
}
h1 {
    text-align: center;
    font-size: 170%;
    color: $color-name;
}
.capitalize {
    text-transform: capitalize;
}
a {
    &:focus {
        outline: 1px dotted $color-font;
        outline-offset: 4px;
    }
}
main {
    max-width: 1300px;
    margin: auto;
    padding: 1vw 3vw;
    @media (max-width: 600px){
        width: 100%;
        padding: 1vw;
    }
}
.main-bloc {
    width: 80%;
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    box-shadow: $shadow;
    border-radius: 0.5rem;
    background-color: $color-white;
    padding: 2vw;
    @media (max-width: 600px){
        width: 100%;
    }
}