.form {
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    &__submit {
        font-size: 105%;
        background-color: $color-main;
        min-width: 120px;
        align-self: flex-end;
        &:hover {
            background-color: $color-main-darker;
        }
    }
    &__textarea {
        width: 100%;
        margin-bottom: 15px;
    }
    &__input {
        margin-bottom: 15px;
        padding: 5px 8px;
    }
    &__label {
        margin-bottom: 5px;
    }
}
