$color-main: #F3E9F1;
$color-main-darker: #DCC6DA;
$color-font: #261624;
$color-font-light: #4d494d;
$color-name: #5e395e;
$color-line: #985D98;
$color-secondary:#f5cb94;
$color-secondary-darker: #f8c27b;
$color-tertiary: #f8f5f7;
$color-background: #fafafa;
$color-white: #ffffff;

$shadow: 2px 2px 10px 2px $color-main;
$shadow-hover: 3px 3px 10px 2px $color-main-darker;