<template>
  <nav class="nav">
    <div class="nav__max">
      <span class="nav__container" v-if="isLoggedIn">
          <router-link to="/" class="nav__link">Accueil</router-link>
          <router-link to="/profile" class="nav__link">Mon compte</router-link>
          <a href="#" class="nav__link" @click.prevent="logout">Se déconnecter</a>
        </span>
        <span class="nav__container" v-else>
          <router-link to="/login" class="nav__link">Connexion</router-link>
          <router-link to="/signup" class="nav__link">Inscription</router-link>
        </span>
        <div class="nav__logo"><img src="./assets/images/icon-left-font-monochrome-black.svg" alt="Groupomania"></div>
    </div>
  </nav>
  <router-view/>
</template>

<style lang="scss">
.router-link-exact-active, router-link-active {
  color: $color-name;
}
.nav {
  padding: 10px;
  position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 5px;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
      border-bottom: 1px solid $color-main;
      box-shadow: 0px 3px 4px -2px $color-main-darker;
    }
  & a {
    font-weight: bold;
    text-decoration: none;
  }
  &__max {
    max-width: 1300px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }
  &__container {
    display: flex;
    gap: 1.5vw;
    @media (max-width: 600px){
      flex-direction: column;
    }
  }
  &__link {
    height: 30px;
    line-height: 30px;
    transition: color 300ms;
    &:hover {
      color: $color-line;
    }
  }
  &__logo {
    height: 30px;
    @media (max-width: 600px){
      height: 20px;
    }
    & img {
      height: 30px;
      @media (max-width: 600px){
        height: 20px;
      }
    }
  }
}
</style>

<script>
  export default {
    computed : {
      isLoggedIn() {
        return this.$store.state.loggedIn;
      }
    },
    methods: {
      logout: function () {
        this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
      }
    },
  }
</script>
